@tailwind base;
@tailwind components;
@tailwind utilities;

.shared-input-style {
  @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-grass focus:border-grass block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-50 dark:focus:ring-mint dark:focus:border-mint;
}

.shared-checkbox-style {
  @apply h-4 w-4 rounded border-gray-300 text-grass focus:ring-grass dark:text-mint dark:focus:ring-mint;
}

.shared-label-style {
  @apply font-medium text-gray-900 dark:text-gray-50 ml-2;
}

.shared-container-style {
  @apply bg-gray-50 p-6 border rounded-md shadow-md grid sm:grid-cols-5 gap-4 grid-rows-2 dark:bg-gray-900 dark:border-gray-600 dark:border;
}

.shared-offer-style {
  @apply bg-gray-50 p-6 border border-spacing-3 rounded-md shadow-md transition-all duration-500 ease-in-out transform hover:scale-105 dark:bg-gray-900 dark:border-gray-600 dark:border text-gray-900 dark:text-gray-50;
}
